<!-- views/auth/signup.ejs -->
<div class="container">
    <div class="row">
        <div class="col-sm-6 centered-form">
            <form action="/auth/signup" method="post">

                <div class="user-creation">
                    <label for="username"></label>
                    <input type="search" placeholder="Username" name="username" class="playlist-search">
                </div>
                <div class="user-creation">
                    <label for="password"></label>
                    <input type="search" placeholder="Password" name="password" class="playlist-search">
                </div>


                <button type="submit">Sign up</button>
                <% if (message) { %>
                    <p>
                        <%= message %>
                    </p>
                    <% } %>
            </form>

            <a class="btn login" href="/auth/login">Have an account?</a>

        </div>
    </div>
</div>