<!DOCTYPE html>
<html>

<head>
  <title>Hello</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <h1>Dub Jube</h1>
  <a class="btn-create-playlist" href="/playlist/new">Create playlist</button>


    <div>
      <form action="/playlist/search" method="post">
        <input name="searchPlaylist">
        <button type="submit" class="search" name="search">Go!</button>
      </form>

    </div>
</body>

</html>