<!DOCTYPE html>
<html>

<head>
  <title>Hello</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <h1>Dub Jube</h1>
  <a class="btn-create-playlist" href="/playlist/new">Create playlist</button>

</body>

</html>