<!DOCTYPE html>
<html>

<head>
  <title>DubJube</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <%if (user){ %>
    <a class="btn logout" href="/auth/logout">logout</a>
    <% } else { %>
      <a class="btn login" href="/auth/login">login</a>
      <a class="btn signup" href="/auth/signup">signup</a>
      <% } %>
        <h1>Dub Jube</h1>
        <a class="btn create-playlist" href="/playlist/new">Create playlist</a>

        <div>
          <form action="/playlist/search" method="post">
            <input name="searchPlaylist">
            <input type="submit" class="search" value="search">
          </form>

        </div>
</body>

</html>