<header>
  <%if (user){ %>
    <a class="btn-logout" href="/auth/logout">Log Out</a>
    <% } else { %>

      <a class="btn-signup" href="/auth/signup">Sign Up</a>
      <a class="btn-login" href="/auth/login">Log In</a>
      <% } %>
</header>
<div class="container">

  <div class="logo">
    <img src="/img/Logo.png">
  </div>

  <div class="search">
    <div class="create">
      <a class="btn create-playlist" href="/playlist/new">Create playlist</a>
    </div>
    <div class="playlist-search">
      <form action="/playlist/search" method="post">
        <input type="search" class="input-s" name="searchPlaylist">
        <button type="submit">Go!</button>
      </form>
    </div>
  </div>
  <div>
    <% if(searchResult !== null) { %>
      <% JSON.stringify(searchResult, null, 2) %>
        <% searchResult.forEach((el) => { %>
          <li>
            <a href="/playlist/room/<%= el._id %>">
              <%= el.name %>
            </a>
          </li>
          <% }) %>
            <% } %>
  </div>

  <footer>
    <img src="/img/IMG.png" class="img-footer" alt="footer">
  </footer>
</div>