body {
  padding: 50px;
  font: white, "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(30, 30, 30);
}

a,
h1 {
  color: rgb(255, 255, 255);
}

a {
  font-size: 70px;
}

input[type=search] {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgb(255, 0, 58);
  border-radius: 10px;
}