<h1>Hola¿</h1>

<form action="/playlist/new" method="post">
  <input name="playlistName" type="text">
  <!-- <input name="first-song"> -->
  <!-- <input name="password">
  <input name="playlist-name">
  <input name="playlist-name"> -->
  <button type="submit" class="btn-create">Create</button>
</form>
