<h1>
    <%= playlist.name %>
</h1>

<div id="buttons">
    <form action="/playlist/room/<%= playlist.id%>/addSong" method="POST">
        <input id="query" name="searchQuery" type="text" />
        <button id="search-button">Search</button>
    </form>

</div>
<div id="search-container">
</div>
<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
<div id="player"></div>

<script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="/javascripts/auth.js"></script>
<script src="/javascripts/yt.js"></script>
<script src="/javascripts/search.js"></script>
<script src="https://apis.google.com/js/client.js?onload=init"></script>