<h1><%= playlist.name %></h1>
<form action="/playlist/room" method="post">
    <!-- soundcloud API -->
    <input name="search song" type="text">
    <button type="submit" class="btn-add">Add to playlist</button>
  </form>

